body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

#todo-title {
    text-align: center;
    margin-top: 3%;
    text-transform: uppercase;
    font-size: 45px;
    color: darkgreen;
}

#todo-form {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#byspan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    text-decoration: underline 1px;
    font-weight: 600;
}

#todo-form input {
    padding: 15px;
    width: 40%;
    font-size: 16px;
    border-radius: 1rem;
}

#todo-form button { 
    margin-left: 2%;
    cursor: pointer;
    border-radius: 1rem;
    padding: 15px;
    width: 7%;
    font-weight: bold;
}

#addtask-btn {
    background-color: #5c636e;
    color: white;
}

#addtask-btn:hover {
    background-color: #919499;
    color: black;
}

#logout-btn {
    background-color: #393e46;
    color: white;
}

#logout-btn:hover {
    background-color: #6d6d6d;
}

.delete-btn {
    background-color: #F44336;
    color: white;
    border: none;
    width: 5%;
    padding: 5px 10px;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    position: relative;
    left: 80%;
    justify-content: center;
    font-weight: bold;
    transform: translateY(-16%);
}

.edit-btn {
    background-color: #2196F3;
    color: white;
    border: none;
    width: 5%;
    padding: 5px 10px;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    position: relative;
    margin-left: 2%;
    left: 84%;
    justify-content: center;
    font-weight: bold;
    transform: translateY(-116%);
}

#todo-list {
    margin: 10px auto;
    max-width: 90%;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #000000;
    border-bottom-width: 1%;
    color: black;
    font-weight: bold;
    margin-bottom: -2%;
}

.p-task {
    display: inline-block;
    vertical-align: middle;  
}